.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.loading-animation.visible {
    animation: fadeOut 4s ease;
}

.loading-animation.nonVisible {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
