.menus-body {
  background: #111111;
  height: 100vh;
}

.menus-container {
  width: 65%;
  margin-inline: auto;
  transition: all 0.5s ease;
  /* border: 1px solid red; */
  /* overflow: hidden; only in wide screen */
}

.menus-home-link {
  margin-left: 5rem;
  padding-block: 1rem;
  font-size: 20px;
}

.menus-home-link nav a {
  color: var(--clr-white);
  text-decoration: none;
  font-family: var(--ff-poppins);
  font-size: 1.25rem;
  position: relative;
}

.menus-home-link nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  user-select: none;
  background-color: var(--clr-black);
  opacity: 0;
  transition: all 0.3s ease;
}

.menus-home-link nav a:hover::after {
  opacity: 1;
  width: 100%;
}

.menus-container h1 {
  text-align: center;
  color: var(--clr-skin);
  font-family: var(--ff-merriweather);
  font-size: 40px;
}

.menusChoose {
  color: var(--clr-white);
  margin-block: 1rem;
  text-align: center;
  font-family: var(--ff-poppins);
  font-size: 20px;
}

.menuSection{
  position: relative;
  display: grid;
  padding: 1rem;
  grid-template-columns: auto 5rem auto;
  grid-template-columns: repeat(auto-fill);
  row-gap : 35px;
  column-gap: 57px;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  user-select: none;
}

.menuCards {
  filter: drop-shadow(0 0 0.5rem var(--clr-grey));
}

.menuCard {
  width: 290px;
  height: 250px;
  margin: 3rem;
  padding: 1rem;
  border-radius: 12px;
  margin: 1rem;
  border: 2px solid var(--clr-grey);
  background: var(--clr-black);
}

.cardLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--clr-white);
}

.cardLink a {
  display: block;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-family: var(--ff-poppins);
  font-size: 24px;
}

.menuNote {
  text-align: center;
  padding: 1rem;
  font-size: 16;
  font-family: var(--ff-poppins);
  color: var(--clr-white);
}