.thoughts-body {
  background: #f3f4f6;
  min-height: 100vh;
  user-select: none;
}

.thoughts-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.messageHeading {
  font-family: var(--ff-poppins);
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.messageStar {
  color: #c00000;
}

form{
  max-width: 100%;
}

.messageArea {
  width: 750px;
  height: 150px;
  resize: none;
  font-family: var(--ff-poppins);
  padding: 1rem;
  border-radius: 12px;
  border: 0.5px solid #dddee3;
  margin-bottom: 1rem;
}

.messageBtn {
  background: var(--clr-primary);
  font-family: var(--ff-poppins);
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.15s ease-in;
}

.messageBtn:hover{
  scale: 1.05;
  border: none;
}

.revealBtn {
  font-family: var(--ff-poppins);
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.15s ease-in;
}

.revealBtn:hover{
  scale: 1.05;
  border: none;
}

.previewBtn{
  background: aqua;
  font-family: var(--ff-poppins);
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.previewBtn:hover{
  scale: 1.05;
  border: none;
}

.reveal-messages-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: 750px;
}

.messagesDiv{
  display: none;
  padding: 1rem;
  /* padding: .35rem; */
  border-radius: 12px;
  margin: .5rem;
  background: #dddee3;
  width: 100%;
  overflow-x: scroll;
}

.messagesDiv>pre{
  white-space: pre;
  font-size: .85rem;
  width: 100%;
  font-family: var(--ff-poppins);
}

.messagesDiv>span{
  font-size: .85rem;
  width: 100%;
  font-family: var(--ff-poppins);
}

.previewDiv{
  display: none;
  padding: 1rem;
  border-radius: 12px;
  margin: .5rem;
  background: #dddee3;
  width: 100%;
  overflow-x: scroll;
}

.previewDiv>pre{
  white-space: pre;
  font-size: .85rem;
  width: 100%;
  font-family: var(--ff-poppins);
}